.gift-card-form .recipient-form .checkbox:has(input:checked) ~ .recipient-fields-wrapper {
  margin-block-start: 1rem;
  display: block;
}
.gift-card-form .recipient-form .recipient-fields-wrapper {
  display: none;
}
.gift-card-form .recipient-form .recipient-fields-wrapper .recipient-email-label {
  display: none;
}

.js .recipient-email-label.required {
  display: inline !important;
}

.no-js .recipient-email-label.optional {
  display: inline !important;
}
